DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portal_corinthians?schema=public"
PORT=4000
PORTAL_API_URL="http://127.0.0.1:4000"
NEXT_PUBLIC_API_URL="http://127.0.0.1:4000"
GNEWS_API_KEY=""
THESPORTSDB_API_KEY="3"
